<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Статья: {{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>

<body class="article">
    <div class="login-logout" style="text-align: right;">
        {% if user.is_authenticated %}
            {{ user.username }} | <form method="post" action="{% url 'logout' %}" style="display: inline;">{% csrf_token %}
                                  <button class="logout-button" type="submit">Выйти</button></form>
        {% else %}
            <a href="{% url 'login' %}">Вход</a> | <a href="{% url 'reg_user' %}">Регистрация</a>
        {% endif %}
    </div>
    <div class="header">
        <img src="{% static 'img/logo.jpg' %}" />
    </div>
    <div class="one-post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date|date:"d E Y" }}</div>
        </div>
        <p class="article-text">{{ post.text|linebreaks }}</p>
    </div>
    <div class="all-posts">
        <a href="/"">Все записи</a>
    </div>
</body>

</html>
